opencv_contrib_python==4.5.1.48
# numpy==1.19.4
numpy==1.22
Keras==2.4.3
eventhandler==1.2.1
requests==2.25.1
Flask==1.1.2
gpiozero==1.6.2
picamera==1.13
# had been 9.0.0 before
Pillow==9.2.0
# had been 8.3.2 before
scikit_learn==0.24.1
